@media screen and (max-width:850px){
    .last-child-rigth{
        height:100%;
        flex-direction: column;
    }
}

@media screen and (max-width:850px){

    main{
        height:100%;
    }
    .container-child{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-child-rigth{
       order:3;
        margin-top: 2rem;
        padding-right: 0;

        h2{
            width:100%;
            text-align: center;
        }
        .form{
            width:100%;
        }
    }   

    .last-child-rigth{
        order:1;
    }

    .last-child-rigth{
        flex-direction: column;

        .card{
            flex-direction: column;
            margin-top: 5px;
        }
    }

}



@media screen and (max-width:500px){
    .container-child-left{
        padding: 0 2rem;
    }
}